:root {
  --nav-logo-link-color: #4d5ae5;
  --nav-logo-span-color: #2e2f42;
  --nav-link-color: #2e2f42;
  --address-link-color: #434455;
  --nav-address-hover-focus: #404bbf;
  --hero-background-color: #2e2f42;
  --button-hover-background-color: #404bbf;
  --button-hover-color: #ffffff;
  --advantages-sub-title-color: #2e2f42;
  --advantage-text-color: #434455;
  --examples-title-color: #2e2f42;
  --team-background-color: #f4f4fd;
  --team-title-color: #2e2f42;
  --production-cards-title-color: #2e2f42;
  --production-cards-text-color: #434455;
  --footer-color: #2e2f42;
  --logo-footer-span-color: #f4f4fd;
  --footer-text-color: #f4f4fd;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.nav-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-link-color);
}

.address-menu {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-link-color);
}

.nav-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-logo-link-color);
}

.nav-logo-span {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--nav-logo-span-color);
}

.nav-menu:hover,
.nav-menu:focus,
.address-menu:hover,
.address-menu:focus {
  color: var(--nav-address-hover-focus);
}

.hero {
  background-color: var(--hero-background-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero .button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.production .button {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

.production .button:hover,
.production .button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--advantages-sub-title-color);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--advantage-text-color);
}

.examples-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--examples-title-color);
}

.team {
  background-color: var(--team-background-color);
}

.team .title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--team-title-color);
}

.team .cards {
  background-color: #ffffff;
}

.team .cards .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--team-sub-title-color);
}

.team .cards .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.production .cards .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--production-cards-title-color);
}

.production .cards .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--production-cards-text-color);
}

.footer {
  background-color: var(--footer-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-logo-link-color);
}

.footer-logo-span {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-span-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
}
